#meaning { height: 100vh; background-color:E5E5E5}
#background { height: 100vh; background-color:E5E5E5}

.main-intro {
    position: relative;
    width: 465px;
    height: 222px;
    left: 158px;
    font-size: 96px;
    line-height: 96px;
    font-weight: bolder;
    top: 200px; color: white;
}

.main-text{
    position: absolute;
    width: 464px;
    height: 87px;
    left: 158px;
    top: 350px; 
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.5em;
    color: white;    
 }

.meaning-intro {position: relative; width: 671px; height: 45px; left: 230px; top: 250px; font-size: 30px; line-height: 43px; }

.meaning-text {position: relative; width: 875px; height: 131px; left: 230px; top: 300px; line-height: 43px;}

.background-text { position: relative; width: 648px; height: 159px; left: 800px;top: 250px; line-height: 43px;}

.main-img {
    position: absolute;
    width: 1536px;
    height: 1024px;
    left: 500px;
    top: -65px;
    }

.ex { position: relative; width: 983px; height: 595px; left: 800px; top: -100px;}

.logo_img { position: relative; width: 983px;  height: 240px; left: 400px; top: 10px;}