#meaning { height: 100vh; background-color:#E5E5E5;}
#background { height: 100vh; background-color:burlywood;}

.meaning-intro {position: relative; width: 671px; height: 45px; left: 230px; top: 250px; font-size: 30px; line-height: 43px; }

.meaning-text {position: relative; width: 875px; height: 131px; left: 230px; top: 300px; line-height: 43px;}

.background-text { position: relative; width: 648px; height: 159px; left: 800px;top: 250px; line-height: 43px;}

.ex { position: relative; width: 983px; height: 595px; left: 800px; top: -100px;}

.logo_img { position: relative; width: 983px;  height: 240px; left: 229px; top: -10px;}