#mainNav {
    background-color: #1A1B36;
}

#mainNav .navbar-brand > img {
    width: 30px;
    margin-left: 0.6rem;
}

#mainNav .nav-link{
    -webkit-transition: none;
    transition: none;
    padding: 1.25rem 1rem;
    color: #fff;
    font-weight: 500;
}

#mainNav .navbar-toggler {
    font-size: 90%;
    padding: 0.8rem;
    margin-right: 0.6rem;
    color: #fff;
    border: 1px solid #fff;
}

#mainNav .navbar-nav .nav-item .nav-link:hover{
    color: #fff;
    font-weight: 600;
}


@media (max-width: 992px) {
    #mainNav .nav-link {
        padding: 1.25rem;
      }
}