#team {
    width: 100%;
    background-color: #F0F0F0;
    padding: 125px 30px 175px 30px;
    text-align: center;
}

.team-header { margin-bottom: 76px; }
.team-header > h1 {
    font-size: 40px; font-weight: 800;
    margin-bottom: 10px;
}
.team-header > p {
    font-size: 20px; font-weight: 900;
    letter-spacing: 5px;
}

.team-contents { color: #fff;}

.team-contents > .p1 {
    background-image: url('../images/p1.jpg');
    background-size: cover;
    background-position-y: -20px;
}
.team-contents > .p2 {
    background-image: url('../images/p2.jpg');
    background-size: cover;
    background-position-y: -20px;
}
.team-contents > .p3 {
    background-image: url('../images/p3.png');
    background-size: cover;
    background-position-y: -20px;
}
.team-contents > .p4 {
    background-image: url('../images/p1.jpg');
    background-size: cover;
    background-position-y: -20px;
}

.team-contents > .profile {
    width: 350px;
    height: 400px;
    padding: 120px 20px;
    display: inline-block;
    margin: 30px;
    /* background-color: #404040; */
    border-radius: 20px;
}

.team-contents > .profile:hover {
    background-color: #404040;
    background-blend-mode: multiply;
}
.team-contents > .profile:hover > .profile-header, .team-contents > .profile:hover > .profile-social {
    visibility: visible;
}

.team-contents > .profile > .profile-header { margin-bottom: 65px; visibility: hidden;}
.team-contents > .profile > .profile-header > h1 {
    font-size: 30px; font-weight: 800;
    letter-spacing: 15px;
    margin-bottom: 20px;
}
.team-contents > .profile > .profile-header > h3 {
    font-size: 18px; font-weight: 500;
    letter-spacing: 5px;
}

.team-contents > .profile > .profile-social { visibility: hidden; }
.team-contents > .profile > .profile-social > a { color: #fff; font-weight: 500;}
.team-contents > .profile > .profile-social > a > i { font-size: 24px; font-weight: 500; }
.team-contents > .profile > .profile-social > a:hover { text-decoration: none; }

@media screen  and (max-width: 768px) {
    .team-contents > .profile {
        width: 250px;
        height: 300px;
        padding: 20px;
    }
}